body {
    background: url(tree.jpg) center center fixed;
    background-size: cover;
    color: rgb(7, 4, 4);
}
header{
    text-align: center;
    font-size: 7vw;
}

/* lap */

#lap{
    text-align: right;
    font-size: 4vw;
}


#time{
    text-align: center;
    font-size: 4vw;
}

/*Buttons*/
#controlsContainer{
    margin-bottom: 100px; 
   }
.control{
    color: rgba(233, 241, 234, 0.719);
    background-color: #d7A04e;
    height: 10vw;
    width: 10vw;
    border-radius: 100%;
    text-align: center;
    padding: 20% 0;
    font-size: 2.5vw;
    cursor: pointer;
   }
   .control:active{
    background-color: rgb(212, 218, 228);
    color: #d7A04e;
   }
   /*laps*/
   #laps{
    max-height: 270px;
    overflow-y: scroll;
   }
   .lap{
    height: 50px;
    border-bottom: 1px solid rgb(234, 222, 238);
    margin: 15px;
   }
   .laptimetitle{
    font-size: 1.5em;
    float: left;
   }
   .laptime{
    font-size: 2em;
    float: right;
   }